body {
    background-color: #FFFAEC;
    font-family:Arial, Helvetica, sans-serif
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFEFC2;
    padding: 1px 30px;
}

.logo img {
    width: 80px;
    height:auto;
}

.navbar nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-family:Arial, Helvetica, sans-serif
}

.auth-buttons button {
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #FFC84D;
    margin-left: 10px;
    font-size: 10px;
    cursor: pointer;
}

.login {
    background: #f2c94c;
    border: none;
}

.signup {
    background: white;
}


.page{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.center-box{
    background:#fff;
    width:420px;
    padding:40px;
    border-radius:18px;
    text-align:center;
    box-shadow:0 8px 25px rgba(0,0,0,0.1);
}


.icon{
    width:80px;
    height:80px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:40px;
    margin:0 auto 20px;
}

.success{
    border:2px solid #9ccc9c;
    color:#9ccc9c;
}

.gold{
    color:#f4b740;
}

/* TEXT */
h2{
    margin-bottom:10px;
}

.details p{
    margin:4px 0;
    font-size:14px;
    color:#555;
}

.link{
    display:inline-block;
    margin-top:15px;
    font-weight:bold;
    color:#000;
}


.progress{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:25px 0;
}

.step{
    width:18px;
    height:18px;
    border-radius:50%;
    background:#ccc;
}

.step.active{
    background:#8bcf88;
}

.line{
    width:80px;
    height:3px;
    background:#ccc;
}

.status-text{
    font-size:14px;
}