/* BROWSE CSS */
body {
    background-color: #FFFAEC;
    font-family:Arial, Helvetica, sans-serif
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFEFC2;
    padding: 1px 30px;
}

.logo img {
    width: 80px;
    height:auto;
}

.navbar nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-family:Arial, Helvetica, sans-serif
}

.auth-buttons button {
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #FFC84D;
    margin-left: 10px;
    font-size: 10px;
    cursor: pointer;
}

.login {
    background: #f2c94c;
    border: none;
}

.signup {
    background: white;
}


#section {
    background:#FFEFC2;
    height: 200px;
    width: 100vw;
    padding-bottom: 40px;
    margin-bottom: 15px;
}

#section h1 {
    font-family:Arial, Helvetica, sans-serif;
    color:#333;
    padding: 30px 30px 0px 30px
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 15px;
}

/* SEARCH */
.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: -30px;
    
}

.search-bar input {
    width: 60%;
    padding: 15px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.icon-buttons {
    display: flex;
    justify-content: center;
    gap: 30px; 
    margin: 20px 0; 
}

.icon-buttons button {
    width: 40px;       
    height: 40px;      
    border-radius: 50%; 
    border: none;
    background-color: #D3C59F; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s;
    margin-bottom: 30px;
}

.icon-buttons button img {
    width: 20px;  
    height: 20px;
}

/* CONTENT */
.content {
    display: flex;
}

/* FILTERS */
.filters {
    width: 250px;
    background: white;
    padding: 20px;
    border-radius: 25px;
    margin-right: 30px;
    box-shadow: 10px 4px 10px rgba(0,0,0,0.1);
}

.filters h3 {
    text-align: center;
    margin-top: 5px
}

.filters label {
    display: block;
    margin: 8px 0;
}

/* STALLS */
.stalls {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    flex: 1;
}

.stall-card {
    background: white;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.stall-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.stall-info {
    padding: 1px 20px;
    line-height: 0.5;
}

.stall-info h4 {
    margin-bottom: 2px;
    margin-top: 10px;
}
